<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.gpetuhov.android.samplenfc">

    <!-- Permission to use NFC hardware -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Application will be visible in Google Play only for devices, that have NFC -->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

<!--        <activity android:name=".NfcActivity">-->
<!--            <intent-filter>-->
<!--&lt;!&ndash;                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <category android:name="android.intent.category.DEFAULT"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.nfc.action.TECH_DISCOVERED"/>&ndash;&gt;-->
<!--                <action android:name="android.nfc.action.TAG_DISCOVERED"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

    </application>

</manifest>